$color-primary: #38485E;
$color-secondary: #E06129;
$color-secondary-alfa: rgba(#E06129, .4);
$background-primary: #E8E8E8;

$bg: linear-gradient(to right, #B82D83 , #EC7508);

$f1: 1em;
$f1-1: 1.1em;
$f1-2: 1.2em;
$f1-4: 1.4em;
$f1-6: 1.6em;
$f1-8: 1.8em;
$f2: 2em;
$f3: 3em;
//   .slide-content .scroller {
//     width: 1024px;
// }

// * {
//     border: 1px solid #f00 !important;
// } 

* {
     margin: 0;
     padding: 0;
     -moz-box-sizing: border-box;
     -webkit-box-sizing: border-box;
     box-sizing: border-box;
     font-size: 10px;
     font-family: 'Roboto', sans-serif, Arial, Helvetica;
 }
 
 body {
     width: 100%;
     font-size: 100%;
     margin: auto;
     left: 0;
     top: 0;
     overflow: hidden;  
 }

 a {
    text-decoration: none;
    color: white;
  }
  ul{
    list-style-type: none;
  }
 button {
   border: none;
   outline: none;
 }

 .butt {
  background-image: $bg;
  border-radius: 0.7em;
  color: white;
  
  &:hover {
    background: darken(red,8%);
    transition: all 0.3s ease;
  }
  &:active {
    background: darken(red,25%);
  }
}
  .butt-md {
    padding: 0.4em 1.4em;
    font-size: $f1-1;
  }
  .butt-lg {
    padding: 0.32em 2.65em;
    font-size: $f2;
  }
  .butt-price {
    border-radius: 1.7em;
    padding: 0.31em 0.9em;
    font-size: $f1-4;
  }

  
.title-section {
  font-size: $f1-8;
  color: $color-secondary;
}
.carousel-slide {
  width: 80%;
  margin: 0em auto;
}
.title {
  font-size: $f1-6;
}
.slide {
  .card {
    margin: 0em auto;
    padding: 1em 2em;
    border-radius: 3em;
    width: 80vw;
    border: none;
    .card-title {
      display: flex;
      flex-flow: row;
      padding: 1em;
      justify-content: center;
      .card-title-descr {
        font-size: $f1-2;
        margin-right: 1.5em;
      }
      li {
        display: inline-block;
      }
      img {
        width: 1.2em;
        height: 1.2em;
      }
    }
    .card-text {
      color: $color-primary;
      font-size: $f1;
      padding-bottom: 4em;
    }
  }
     .card-img-top {
      width: 80%;
      height: auto;
    }
}

.schedule {
  box-shadow: 0.2em 0.2em 0.5em rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0.2em 0.2em 0.5em rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0.2em 0.2em 0.5em rgba(0, 0, 0, 0.6);
  -o-box-shadow: 0.2em 0.2em 0.5em rgba(0, 0, 0, 0.6);
  border-radius: 1em;
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  padding: 0.7em;
  margin: 1em 0em;
  .day-hour {
    flex: 40%;
    display: flex;
    flex-flow: column;
    padding-left: 3em;

    .day {
      display: flex;
      .day-number {
        background-color: $color-secondary;
        padding: 0.2em 0.2em;
        margin: 0.1em;
        width: 1.85em;
        height: 1.85em;
        border-radius: 0.9em;
        font-size: $f1-2;
        font-weight: 500;
        color: white;
      }
      .day-name {
        font-size: $f1-4;
        font-weight: 500;
        padding-left: 1em;
      }
    }

    .hour {
      font-size: $f1-4;
      font-weight: 500;
      display: flex;
      align-items: center;
      margin: 0.1em;

      &::before {
        content: "";
        display: inline-block;
        background-image: url(~@/assets/img/clock.png);
        background-repeat: no-repeat;
        background-size: 1.58em;
        width: 1.58em;
        height: 1.58em;
        margin-right: 1em;
      }
    }
  }

  .cost {
    flex: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
  }
  &:hover {
    background: rgba($color-secondary, 0.2);
    transition: all 0.3s ease;
  }
}

.schedule-screen {
  .card {
    margin-top: 20em;
    border-radius: 2em;
    padding-bottom: 3em;
  }
  .card-body {
    padding: 0em 3.5em;
  }
  .card-text {
    padding: 1em 2.5em 2em 2.5em;
  }
}

.header-reserve-activity {
  width: 100%;
  height: 35em;
  text-align: center;
  background-image: url('~@/assets/img/1019.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: content;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  top: 0em;
}

.background-selected {
  background-color: "rgba(224, 97, 41,.5)";
}
.background-unselected {
  background-color: white;
}

/*mixins-----------------------------------------------*/

